@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

.container {
    max-width: 1920px;
    margin: 0 auto;
}
.logo {
    margin-left: 80px;
    margin-bottom: 105px;
}
.text {
    font-size: 18px;
    line-height: 22px;
    color: #2a2a2a;
}
.title {
    color: #2a2a2a;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    line-height: 105%;
    letter-spacing: 0.01em;
}
.title span {
    display: flex;
    align-items: center;
    gap: 28px;
    position: relative;
}
.subtitle {
    text-transform: uppercase;
    color: #af354c;
    font-weight: 900;
    font-size: 50px;
    line-height: 105%;
    letter-spacing: 0.18em;
}
.arrow {
    position: relative;
    display: flex;
    align-items: center;
}
.arrow:before {
    content: '';
    width: 184px;
    height: 2px;
    background-color: #2a2a2a;
    display: inline-block;
}
.arrow:after {
    content: '';
    position: absolute;
    border: solid #2a2a2a;
    border-radius: 2px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    left: 174px;
}
.btn {
    padding: 21px 64px;
    border-radius: 69px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.intro {
    background-color: #efefef;
}
.intro__content {
    padding: 80px 0 84px 0;
    flex: 1 1 58%;
}
.intro__img {
    flex: 1 1 42%;
    text-align: right;
}
.intro__container {
    display: flex;
}
.intro__flex {
    display: flex;
    justify-content: space-between;
}
.intro__list {
    padding: 46px 45px 44px 65px;
    background-color: #af354c;
    margin-bottom: 117px;
}
.intro__list li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 64px;
    font-weight: 300;
    font-size: 25px;
    line-height: 100%;
    color: white;
}
.intro__list li span {
    font-weight: 700;
    margin-top: 5px;
    display: inline-block;
}
.intro__list li:before {
    margin-bottom: 13px;
}
.intro__list li.icon-1:before {
    font-size: 34px;
}
.intro__list li.icon-3:before {
    font-size: 31px;
}
.intro__list li.icon-4:before {
    font-size: 24px;
}
.intro__title {
    margin-bottom: 17px;
    max-width: 590px;
}
.intro__subtitle {
    margin-bottom: 50px;
    max-width: 600px;
}
.intro__block {
    padding-top: 107px;
    padding-left: 15px;
}
.intro__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 170.53%;
    color: #2a2a2a;
    max-width: 504px;
}
.intro__social {
    display: flex;
    align-items: center;
    gap: 56px;
    margin-left: 84px;
}
.intro__social li a {
    font-size: 0;
}
.intro__social li a.icon-5:before {
    font-size: 31px;
    color: #2a2a2a;
}
.intro__social li a.icon-6:before {
    font-size: 20px;
    color: #2a2a2a;
}
.intro__social li a.icon-7:before {
    font-size: 40px;
    color: #2a2a2a;
}

.director {
    background-color: #2a2a2a;
}
.director__container {
    display: flex;
}
.director__content {
    flex: 1 1 66%;
    display: flex;
    flex-direction: column;
}
.director__img {
    flex: 1 1 34%;
}
.director__content-one {
    padding: 73px 65px 64px 77px;
    background: #2b2b2b;
}
.director__subtitle {
    letter-spacing: normal;
    margin-bottom: 40px;
}
.director__title {
    margin-bottom: 13px;
    color: white;
}
.director__text {
    font-size: 25px;
    line-height: 170.53%;
    color: white;
}
.director__content-two {
    padding: 44px 84px 44px 148px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    margin-right: -125px;
}
.director__content-two img {
    width: 320px;
}
.director__content-two p {
    font-size: 40px;
    line-height: 105%;
    text-transform: uppercase;
    color: #2a2a2a;
    margin-right: 20px;
    max-width: 790px;
}
.director__content-two p span {
    font-weight: 900;
}

.advantage {
    background-color: #efefef;
}
.advantage__container {
    display: flex;
}
.advantage__content {
    background-color: #efefef;
    padding: 112px 15px 112px 104px;
}
.advantage__img {
    flex: 1 1 63%;
    position: relative;
}
.advantage__content {
    flex: 1 1 37%;
}
.advantage__subtitle {
    letter-spacing: normal;
    margin-bottom: 86px;
}
.advantage__title {
    margin-bottom: 13px;
}
.advantage__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.advantage__list-item {
    max-width: 465px;
    position: relative;
    padding-left: 50px;
}
.advantage__list-item:before {
    content: url('../img/icon2.png');
    position: absolute;
    left: 0;
}
.advantage__img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantage__logo {
    position: absolute;
    left: 80px;
    bottom: 80px;
}
.advantage__logo img {
    width: 217px;
}

.worth {
    background-color: #efefef;
}
.worth__container {
    display: flex;
}
.worth__content-one {
    flex: 1 1 43%;
}
.worth__content-two {
    flex: 1 1 57%;
}
.worth__block-1 {
    background-color: #2a2a2a;
    padding: 76px 97px;
}
.worth__subtitle {
    letter-spacing: normal;
    margin-bottom: 40px;
}
.worth__title {
    color: white;
    margin-bottom: 13px;
}
.worth__text {
    color: white;
}
.worth__block-2 {
    display: flex;
}
.worth__block-3,
.worth__block-4 {
    padding: 60px 40px 60px 60px;
    flex: 1 1 50%;
    height: 539px;
}
.worth__block-3 {
    background-image: url('../img/bg9.jpeg');
    background-size: cover;
}
.worth__block-4 {
    background-image: url('../img/bg10.jpeg');
    background-size: cover;
}
.worth__block-text {
    font-weight: 300;
    font-size: 25px;
    line-height: 105%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: white;
}
.worth__content-two {
    display: flex;
}
.worth__block-5 {
    flex: 1 1 46%;
}
.worth__block-6 {
    flex: 1 1 54%;
}
.worth__block-5 {
    background-image: url('../img/bg11.jpeg');
    background-size: cover;
    padding: 60px 40px 60px 111px;
}
.worth__block-7,
.worth__block-8 {
    height: 50%;
    padding: 60px 40px 60px 60px;
}
.worth__block-7 {
    background-image: url('../img/bg12.jpeg');
    background-size: cover;
}
.worth__block-8 {
    background-image: url('../img/bg13.jpeg');
    background-size: cover;
}
.worth__arrow {
    margin-bottom: 24px;
}
.worth__arrow:before {
    background-color: white;
}
.worth__arrow:after {
    border: solid white;
    border-width: 0 2px 2px 0;
}

.investments2 {
    background-color: #2a2a2a;
}
.investments2__content {
    background-color: #2a2a2a;
    padding: 133px 107px 151px 107px;
    position: relative;
}
.investments2__subtitle {
    letter-spacing: normal;
    margin-bottom: 57px;
}
.investments2__title {
    color: white;
    margin-bottom: 13px;
}
.investments2__text {
    color: white;
    max-width: 800px;
}
.investments2__img {
    height: 452px;
    background-image: url('../img/bg14.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.investments2__logo {
    position: absolute;
    bottom: 80px;
    left: 80px;
}
.investments2__logo img {
    width: 217px;
}
.investments2__arrow {
    position: absolute;
    right: 79px;
    bottom: 79px;
}

.profit__img {
    flex: 1 1 42%;
    margin-right: 20px;
}
.profit__img img {
    width: 100%;
    height: 694px;
    object-fit: cover;
}
.profit {
    background-color: #efefef;
    padding: 80px 0;
}
.profit__container {
    display: flex;
}
.profit__title {
    margin-bottom: 13px;
    margin-left: 80px;
}
.profit__subtitle {
    letter-spacing: normal;
    margin-bottom: 124px;
    margin-left: 80px;
}
.profit__text {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
}
.profit__list {
    margin-bottom: 40px;
}
.profit__list li:not(:last-child) {
    margin-bottom: 24px;
}
.profit__list-item {
    margin-left: 129px;
    position: relative;
}
.profit__list-item:before {
    content: url('../img/icon2.png');
    margin-right: 40px;
    position: absolute;
    left: -45px;
}
.profit__flex {
    display: flex;
    gap: 63px;
    padding-top: 48px;
    flex-wrap: wrap;
}
.profit__flex-item {
    text-align: center;
}
.profit__flex-item span {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #2a2a2a;
}
.profit__flex-item p {
    text-transform: uppercase;
}
.profit__content {
    padding-right: 15px;
    flex: 1 1 58%;
}

.profitability {
    background-color: #efefef;
}
.profitability__container {
    display: flex;
}
.profitability__content {
    flex: 1 1 73%;
    display: flex;
    flex-direction: column;
}
.profitability__img {
    flex: 1 1 27%;
    position: relative;
    min-width: 430px;
    background-image: url('../img/bg16.jpeg');
    background-size: cover;
}
.profitability__logo {
    position: absolute;
    top: 80px;
    right: 80px;
}
.profitability__img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profitability__logo-img {
    width: 217px;
}
.profitability__block {
    padding: 76px 114px 33px 20px;
    background-color: #2a2a2a;
    display: flex;
    justify-content: flex-end;
}
.profitability__block-wrap {
    width: 1046px;
}
.profitability__subtitle {
    letter-spacing: normal;
    margin-bottom: 49px;
}
.profitability__title {
    color: white;
    margin-bottom: 13px;
}
.profitability__text {
    font-weight: 300;
    font-size: 40px;
    line-height: 105%;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: white;
}
.profitability__block2 {
    padding: 64px 114px 149px 20px;
    background-color: #efefef;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}
.profitability__text2 {
    margin-bottom: 37px;
}
.profitability__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 120px;
    max-width: 840px;
    margin-bottom: 97px;
}
.profitability__list-item {
    position: relative;
}
.profitability__list-item:before {
    content: url('../img/icon2.png');
    left: -45px;
    position: absolute;
}

.risks {
    background-color: #2a2a2a;
}
.risks__container {
    padding: 130px 20px 130px 20px;
    max-width: 1166px;
    margin: 0 auto;
}
.risks__subtitle {
    margin-bottom: 13px;
    letter-spacing: normal;
}
.risks__title {
    color: white;
    margin-bottom: 70px;
}
.risks__title span:before {
    background-color: white;
}
.risks__list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.risks__list li {
    font-weight: 300;
    font-size: 18px;
    line-height: 105%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
}
.risks__list li:before {
    content: url('../img/icon.png');
    margin-right: 40px;
}

.payback {
    background-color: #efefef;
}
.payback__container {
    display: flex;
}
.payback__title {
    margin-bottom: 13px;
}
.payback__content {
    flex: 1 1 74%;
    padding: 97px 88px 194px 20px;
    background-color: #efefef;
    display: flex;
    justify-content: flex-end;
}
.payback__wrapper {
    max-width: 1070px;
}
.payback__img {
    flex: 1 1 26%;
    background-image: url('../img/bg17.jpeg');
    background-size: cover;
    position: relative;
    min-width: 360px;
}
.payback__subtitle {
    letter-spacing: normal;
    margin-bottom: 137px;
}
.payback__list {
    max-width: 890px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 110px;
    margin-left: 174px;
}
.payback__list-item {
    position: relative;
}
.payback__list-item:before {
    content: url('../img/icon2.png');
    left: -45px;
    position: absolute;
}

.investments {
    background-color: #2a2a2a;
}
.investments__container {
    display: flex;
    padding: 97px 0 143px 0;
}
.investments__img {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-left: 20px;
}
.investments__img:before {
    content: '';
    display: block;
    width: 415px;
    height: 523px;
    background-color: #af354c;
    position: absolute;
    z-index: 0;
    right: 300px;
}
.investments__img img {
    width: 415px;
    height: 504px;
    margin-right: 167px;
    margin-top: 107px;
    z-index: 1;
}
.investments__subtitle {
    letter-spacing: normal;
    margin-bottom: 13px;
    max-width: 516px;
}
.investments__content {
    flex: 1 1 50%;
    background-color: #2a2a2a;
    padding-right: 20px;
}
.investments__title {
    margin-bottom: 52px;
    color: white;
}
.investments__text {
    max-width: 700px;
    color: white;
    margin-bottom: 71px;
}
.investments__arrow:before {
    background-color: white;
}
.investments__arrow:after {
    border: solid white;
    border-width: 0 2px 2px 0;
}
.investments__name {
    font-weight: 900;
    font-size: 34px;
    line-height: 105%;
    color: #af354c;
    text-transform: uppercase;
    margin-bottom: 13px;
    display: block;
}
.investments__subtext {
    text-transform: uppercase;
    color: white;
    max-width: 327px;
    font-weight: 300;
}

.floors {
    text-align: center;
    background: url('../img/bg2.jpeg');
    position: relative;
    background-size: cover;
    background-position: center;
}
.floors__container {
    padding: 380px 20px;
    position: relative;
    background-size: cover;
    background-position: center;
}
.floors__block {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.floors__logo {
    text-align: center;
    position: relative;
    margin-bottom: 51px;
}
.floors__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 105%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: white;
    position: relative;
    margin: 0 auto;
    max-width: 1370px;
}
.floors__btn {
    background-color: white;
    color: #af354c;
    position: relative;
    margin-top: 54px;
}

.contacts {
    background-color: #efefef;
}
.contacts__container {
    padding-top: 155px;
    display: flex;
    justify-content: space-between;
}
.contacts__img {
    padding-left: 246px;
    flex: 1 1 46%;
    margin-right: 30px;
}
.contacts__img img {
    width: 431px;
}
.contacts__content {
    flex: 1 1 54%;
}
.contacts__subtitle {
    letter-spacing: normal;
    margin-bottom: 80px;
}
.contacts__spn {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2a2a2a;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;
}
.contacts__text {
    margin-left: 89px;
    display: flex;
    margin-bottom: 48px;
    align-items: center;
}
.contacts__text,
.contacts a {
    font-size: 18px;
    line-height: 22px;
    color: #2a2a2a;
}
.contacts__text:before {
    content: url('../img/icon2.png');
    margin-right: 15px;
}
.contacts__wrapper {
    margin-bottom: 82px;
}
.contacts__social {
    margin-left: 0;
    margin-bottom: 70px;
}

@media (max-width: 1960px) {
    .container {
        max-width: none;
    }
}
@media (max-width: 1810px) {
    .intro__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .intro__title span:before,
    .intro__title span:after {
        display: none;
    }
    .contacts__content {
        padding-right: 20px;
    }
    .director__content-two {
        padding: 44px 84px 44px 84px;
    }
    .advantage__content {
        padding-left: 35px;
    }
    .worth__block-5 {
        padding-left: 60px;
    }
}
@media (max-width: 1600px) {
    .contacts__img {
        padding-left: 20px;
    }
    .director__img {
        display: none;
    }
    .director__content-two {
        margin-right: 0;
    }
    .profitability__block-wrap {
        width: auto;
    }
}
@media (max-width: 1420px) {
    .profit__img img {
        display: none;
    }
    .profit__container {
        flex-direction: column;
    }
    .profit__img {
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .profit__content {
        padding-left: 15px;
    }
    .payback__list {
        margin-left: 45px;
    }
    .investments__title span:before,
    .investments__title span:after {
        display: none;
    }
    .profit__flex {
        gap: 40px;
    }
}
@media (max-width: 1280px) {
    .intro__img {
        display: none;
    }
    .intro__icons {
        flex: 1 1 30%;
    }
    .intro__block {
        flex: 1 1 70%;
    }
    .intro__title,
    .intro__subtitle,
    .intro__text {
        margin-left: auto;
        margin-right: auto;
    }
    .title,
    .subtitle,
    .floors__title,
    .director__content-two p,
    .profitability__text {
        font-size: 40px;
    }
    .contacts__text {
        margin-left: 0;
    }
    .contacts__content {
        padding-left: 20px;
    }
    .director__content-two {
        padding: 44px 15px 44px 15px;
    }
    .director__content-one {
        padding: 73px 15px 64px 15px;
    }
    .advantage__container {
        flex-direction: column;
    }
    .advantage__list-item {
        max-width: none;
    }
    .worth__container {
        flex-direction: column;
    }
    .worth__content-one {
        display: flex;
    }
    .worth__block-1 {
        width: 40%;
        padding: 40px;
    }
    .worth__block-2 {
        width: 60%;
    }
    .worth__block-3,
    .worth__block-4,
    .worth__block-7,
    .worth__block-8 {
        height: 100%;
        padding: 40px;
    }
    .worth__block-5 {
        height: 560px;
        background-position: center;
        padding: 40px;
    }
    .worth__block-6 {
        display: flex;
    }
    .worth__block-text {
        font-size: 20px;
    }
    .investments2__content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .investments2__logo {
        left: 15px;
    }
    .payback__list {
        max-width: none;
    }
    .advantage__content {
        padding-left: 15px;
    }
    .investments__img {
        justify-content: flex-start;
    }
    .investments__img img {
        margin-right: 0;
    }
    .payback__content {
        padding-right: 20px;
    }
}
@media (max-width: 1024px) {
    .risks__title span:before {
        display: none;
    }
    .payback__img {
        display: none;
    }
    .investments__content,
    .investments__img {
        padding-left: 20px;
        padding-right: 20px;
    }
    .profit__list-item {
        margin-left: 45px;
    }
    .profit__title {
        margin-left: 0;
    }
    .profit__subtitle {
        margin-left: 0;
    }
    .worth__content-one {
        flex-direction: column;
    }
    .worth__block-1,
    .worth__block-2 {
        width: 100%;
    }
    .worth__block-3,
    .worth__block-4 {
        height: 400px;
    }
    .worth__block-5 {
        height: 400px;
        flex: 1 1 30%;
    }
    .worth__block-6 {
        flex: 1 1 70%;
    }
    .worth__block-7,
    .worth__block-8 {
        flex: 1 1 35%;
    }
    .investments2__img {
        height: 452px;
        background-image: url('../img/bg15.jpeg');
    }
    .profitability__list {
        margin-left: 45px;
    }
    .profitability__block2 {
        padding: 119px 20px 80px 20px;
    }
    .profitability__block {
        padding: 73px 20px 78px 20px;
    }
    .payback__content {
        padding: 80px 20px 158px 20px;
    }
    .worth__arrow,
    .worth__arrow:before,
    .worth__arrow:after {
        display: none;
    }
    .worth__block-1 {
        padding: 40px 15px;
    }
    .investments__img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .profitability__img {
        display: none;
    }
    .profitability__block2 {
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .contacts__container {
        flex-direction: column-reverse;
    }
    .contacts__content {
        margin: 0 auto;
    }
    .contacts__img {
        padding-right: 20px;
        margin: 0 auto;
    }
    .intro__flex {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .intro__list {
        padding-left: 45px;
    }
    .title,
    .subtitle,
    .floors__title,
    .director__content-two p,
    .profitability__text {
        font-size: 30px;
    }
    .logo {
        margin-left: 0;
        margin-bottom: 30px;
    }
    .intro__block {
        padding-top: 40px;
    }
    .floors__logo img {
        width: 100%;
    }
    .director__content-two {
        flex-direction: column;
        gap: 30px;
    }
    .worth__block-3,
    .worth__block-4,
    .worth__block-5,
    .worth__block-7,
    .worth__block-8 {
        height: 300px;
        padding: 20px;
    }
    .worth__block-text {
        font-size: 18px;
    }
    .investments__container {
        flex-direction: column-reverse;
    }
    .investments__img:before {
        display: none;
    }
    .profit__flex {
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .worth__block-3,
    .worth__block-4,
    .worth__block-5,
    .worth__block-7,
    .worth__block-8 {
        height: 200px;
    }
    .worth__block-6,
    .worth__block-5 {
        flex: auto;
    }
    .worth__content-two {
        flex-direction: column;
    }
    .intro__social {
        margin-left: 15px;
    }
    .profit__flex-item span {
        font-size: 40px;
    }
    .risks__list li {
        font-size: 18px;
    }
    .risks__list li:before {
        margin-right: 40px;
    }
    .risks__container {
        padding: 40px 20px 63px 20px;
    }
    .risks__title {
        margin-bottom: 40px;
    }
    .payback__subtitle {
        margin-bottom: 40px;
    }
    .payback__list {
        margin-bottom: 50px;
    }
    .investments__content {
        padding-top: 0;
    }
    .contacts__img img {
        width: 100%;
    }
    .contacts__container {
        padding-top: 40px;
    }
    .title,
    .floors__title,
    .director__content-two p,
    .profitability__text {
        font-size: 22px;
    }
    .subtitle {
        font-size: 28px;
    }
    .contacts__text {
        margin-bottom: 35px;
    }
    .contacts__wrapper {
        margin-bottom: 65px;
    }
    .contacts__social {
        margin-left: 0;
        justify-content: center;
        margin-bottom: 57px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 18px;
        line-height: 22px;
    }
    .floors__btn {
        margin-top: 33px;
    }
    .floors__container {
        padding: 48px 20px;
    }
    .floors__logo {
        margin: 0 24px 14px 24px;
    }
    .contacts__title {
        margin-bottom: 13px;
    }
    .investments__img img {
        width: 260px;
        margin: 90px auto 0 auto;
    }
    .investments__container {
        padding: 40px 0 67px 0;
    }
    .investments__subtitle {
        margin-bottom: 13px;
    }
    .investments__title,
    .investments__text {
        margin-bottom: 40px;
    }
    .payback__content {
        padding: 25px 20px 64px 20px;
    }
    .payback__list {
        gap: 24px;
        margin-bottom: 0;
    }
    .profit__flex {
        padding-top: 34px;
    }
    .payback__img {
        display: block;
        height: 405px;
        background-image: url('../img/bg18.jpeg');
        flex: auto;
        background-position: bottom;
    }
    .payback__container {
        flex-direction: column;
    }
    .profitability__block {
        padding: 40px 20px 38px 20px;
    }
    .profitability__subtitle {
        margin-bottom: 33px;
    }
    .profitability__block2 {
        padding: 25px 20px 64px 20px;
    }
    .profitability__list {
        gap: 24px;
        margin-bottom: 33px;
    }
    .profit__text {
        font-size: 22px;
        line-height: 27px;
    }
    .profit__flex {
        padding-top: 0;
    }
    .profitability__img {
        height: 405px;
        flex: auto;
        display: block;
        min-width: auto;
        background-image: url('../img/bg19.jpeg');
        background-position: bottom;
    }
    .profitability__container {
        flex-direction: column;
    }
}
@media (max-width: 390px) {
    .investments__img img {
        margin: 90px 0 0 auto;
    }
    .investments__img:before {
        display: block;
        width: 260px;
        height: 350px;
        right: auto;
        top: 25px;
    }
}
